/* ==========================================================================
   FIXED RESPONSIVE CSS - PROPER BREAKPOINT RANGES
   ========================================================================== */

/* Tablet Portrait - 768px to 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo-mobile img {
      width: 50px;
  }

  #main-h1 {
    font-size: 4vw;
    margin: 26px 20px;
  }
  
  .card h1 {
    font-size: 2.2vw;
  }
  
  .left {
    width: 35vw;
  }
  
  .songsList ul li {
    font-size: 1.8vw;
  }
  
  .playbar {
    width: 85vw;
  }
}

/* Tablet Small - 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .logo-mobile {
      width: 296px;
      padding: 15px 0;
      display: flex;
      text-align: center;
  }
  .logo{
    display: none;
  }
  .songControlls{
    transform: scale(0.7);
  }
  .songTime{
    right: 0;

  }
  #main-h1 {
    font-size: 5vw;
    margin: 26px 20px;
  }
  
  .card h1 {
    font-size: 2.5vw;
  }
  
  .left {
    width: 70vw;
    position: absolute;
    left: -100%;
    z-index: 10;
  }
  
  .right {
    width: 100vw;
  }
  
  #hamburger {
    display: inline;
    margin-right: 401px;
    transform: scale(1.5);
  }
  
  #closeImg {
    display: block;
    left: 125px;
  }
  
  .songsList ul li {
    font-size: 2vw;
  }
  
  .playbar {
    width: 99vw;
    margin: 0px;
    border-radius: 1px;
  }
}

/* Large Mobile - 391px to 480px */
@media (min-width: 391px) and (max-width: 480px) {
      .logo-mobile {
          width: 296px;
          padding: 15px 0;
          display: flex;
          text-align: center;
        }
        .logo-mobile img{
          width: 50px;
        }
  
  .songDetail {
    width: 79%;
  }
  .logo{
    display: none;
  }
  .songTime{
    bottom: 30px;
    left: 285px;
  }
  .volDiv{
    border: none;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
  .songControlls{
    transform: scale(0.7);

  }
  #global-logo img {
    position: absolute;
    left: 51px;
  }
  
  .playbar {
    width: 86vw;
    height: 30vh;
  }
  
  .seekBar {
    width: 94%;
    margin: 5px 10px;
  }
  
  .left {
    width: 75vw;
    position: absolute;
    left: -100%;
    z-index: 15;
  }
  
  .right {
    width: 100vw;
  }
  
  #hamburger {
    display: inline;
    margin-right: 172px;
    transform: scale(1.5);
  }
  
  #closeImg {
    display: block;
    top: 11px;
    left: 35px;

  }
  
  .songsList ul li {
    font-size: 13px;
  }
  
  .songsList {
    height: 350px;
    margin-top: 17px;
  }
  
  .left h1 {
    font-size: 25px;
  }
  
  .songControllContainer {
    flex-direction: column;
  }
  
  .contsss {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card h1 {
    font-size: 3vw;
  }
  
  #main-h1 {
    font-size: 5vw;
    margin: 20px 20px;
  }
}

/* Small Mobile - 321px to 390px (This is the key range for modern phones) */
@media (min-width: 321px) and (max-width: 390px) {
  .hamburger{
    display: block;
    font-size: 10vw;
  }
  .logo-mobile {
    width: 296px;
    padding: 15px 0;
    display: flex;
    text-align: center;
    
  }
  
  .logo-mobile img{
      width: 30px;
  }
  .logo{
    display: none;
  }
  .left {
    width: 95vw;
    position: absolute;
    left: -100%;
    z-index: 20;
  }
  .songTime{
    bottom: 50px;
    left: 204px;
  }
  .songControlls{
    transform: scale(0.7);
    top: 50px;
    position: absolute;
  }
  .songDetail{
    width: 300px;
  }
  
  .right {
    width: 100vw;
  }
  
  .songInfo {
    width: 70%;
    font-size: 3.5vw;
  }     
  
  .playNow span {
    display: none;
  }
  
  #closeImg {
    left: 32vw;
    display: block;
    top: 7px;
  }
  
  .songsList {
    height: 70vh;
    margin-top: 24px;
  }
  
  .card {
    width: 85%;
    margin: 0 auto;
  }
  
  .card h1 {
    font-size: 4vw;
  }
  
  #global-logo {
    display: none;
  }
  
  #homeIcon {
    display: none;
  }
  
  #searchIcon {
    display: none;
  }
  
  
  
  
  #main-h1 {
    font-size: 7vw;
    margin: 15px 10px;
  }
  
  .playbar {
    width: 99vw;
    margin: 0px 0px;
    height: 175px;
    border-radius: 1px;
  }
  
  .seekBar {
    margin: 5px 8px;
    width: 92%;
  }
  
  #hamburger {
    display: inline;
    margin-right: 70px;
  }
  
  #hamburger img {
    width: 35px;
  }
  
  .songsList ul li {
    font-size: 3.8vw;
    padding: 10px 5px;
  }
  
  .songControllContainer {
    flex-direction: column;
    gap: 8px;
  }
  
  .contsss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .cardContainer {
    justify-content: center;
    padding: 0 10px;
  }
  .volDiv{
    padding: 3px 3px;
    margin-right: 159px;
    margin-top: -60px;
  }
}

/* Extra Small Mobile - 320px and below */
@media (max-width: 320px) {
  .left {
    width: 100vw;
    position: absolute;
    left: -100%;
    z-index: 25;
  }
  
  .right {
    width: 100vw;
  }
  
  .songInfo {
    width: 100%;
    font-size: 4vw;
    text-align: center;
  }     
  
  .playNow span {
    display: none;
  }
  
  #closeImg {
    left: 200px;
    top: 15px;
    display: block;
  }
  
  .songsList {
    height: 75vh;
    margin-top: 20px;
  }
  
  .songsList ul li {
    font-size: 4.2vw;
    padding: 8px 3px;
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
  
  .playCont {
    width: 100%;
    justify-content: center;
  }
  
  .card {
    width: 90%;
    margin: 0 auto;
  }
  
  .card h1 {
    font-size: 5vw;
  }
  
  #global-logo {
    display: none;
  }
  
  #homeIcon {
    display: none;
  }
  
  #searchIcon {
    display: none;
  }
  
  .logo-mobile {
    display: block;
    text-align: center;
    padding: 15px 0;
  }
  
  .logo-mobile img {
    width: 80px;
  }
  
 
  
  #main-h1 {
    font-size: 8vw;
    margin: 10px 5px;
  }
  
  .playbar {
    width: 90vw;
    padding: 8px 0;
    margin: 10px auto;
  }
  
  .seekBar {
    margin: 3px 5px;
    width: 90%;
  }
  
  #hamburger {
    display: inline;
  }
  
  #hamburger img {
    width: 40px;
  }
  
  .songControllContainer {
    flex-direction: column;
    gap: 5px;
  }
  
  .contsss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .cardContainer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .songControlls img {
    width: 22px;
  }
  
  .volDiv input {
    width: 50px;
  }
}

/* Landscape orientation fix for small screens */
@media (max-height: 500px) and (orientation: landscape) {
  .songsList {
    height: 50vh;
  }
  
  .playbar {
    bottom: 5px;
    padding: 5px 0;
  }
  
  #main-h1 {
    margin: 10px 20px;
  }
}